<app-header [currentRoute]="currentRoute"></app-header>
<ngx-loading [show]="loading"></ngx-loading>
<div class="maxw avatarheader">
    <div class="avatar"><img src="assets/avatar.png" alt=""></div>
</div>

<div class="editcontent">
    <div class="bordertop"></div>

    <div class="maxw profileContent">
        <h1>{{profile?.first_name}} {{profile?.last_name}}</h1>
        <div class="editbuton">
            <a class="iconEdit" (click)="profileEdit()" *ngIf="profileId == currentProfileId">
                Modifica tus datos <fa-icon [icon]="faEdit"></fa-icon>
            </a>
        </div>

        <div>
            <table>
                <tr>
                    <td colspan="2">Correo electrónico: <br /> {{profile?.email}}
                    </td>

                </tr>
                <tr>
                    <td>Fecha de nacimiento:</td>
                    <td>{{profile?.birthdate | date : 'dd-MMM-yyyy'}}</td>
                </tr>
                <tr>
                    <td>Tipo sanguíneo:</td>
                    <td>{{profile?.bloodtype}}</td>
                </tr>
                <tr>
                    <td>DUI:</td>
                    <td>{{profile?.dui}}</td>
                </tr>
                <tr>
                    <td>Teléfono:</td>
                    <td>{{profile?.phone}}</td>
                </tr>
                <tr>
                    <td>Tipo de Seguro:</td>
                    <td>{{profile?.health_insurance_type}}</td>
                </tr>
                <tr>
                    <td>Aseguradora:</td>
                    <td>{{profile?.insurance_company}}</td>
                </tr>
                <tr>
                    <td>No. póliza:</td>
                    <td>{{profile?.insurance_policy}}</td>
                </tr>
                <tr>
                    <td colspan="2" class="contacts-title">Contactos de emergencia:</td>
                </tr>
                <tr *ngFor="let contact of profile?.contacts">
                    <td>{{contact?.name}}</td>
                    <td>{{contact?.phone}}</td>
                </tr>
            </table>


        </div>

        <div class="formContent edit"></div>
    </div>
</div>
