<ngx-loading [show]="loading"></ngx-loading>

<!-- login.component.html -->
<div class="logo">
    <img src="assets/logo.png" alt="">
</div>
<ngx-loading [show]="loading"></ngx-loading>
<div class="maxw formContent login">
    <form (ngSubmit)="resetPassword()" #form="ngForm">
        <div class="form-group">
            <label for="exampleInputEmail1">Contraseña</label>
            <input type="password" class="form-control" id="new_password" name="new_password" placeholder="Ingresa contraseña" [(ngModel)]="password.new_password" required />
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Repetir contraseña</label>
          <input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="Repetir contraseña"  [(ngModel)]="password.password_confirm" required />
      </div>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid" [ngClass]="{'invalid': !form.valid}">Resetear contraseña</button>
    </form>
</div>