<div class="maxw avatarheader">
    <div class="searchico"><img src="assets/search.png" alt=""></div>
    <div class="search flex">
        <input type="search" [(ngModel)]="filterString">
    </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>
<div class="editcontent">
    <div class="bordertop"></div>

    <div class="maxw userlist">

        <table>
            <tr *ngFor="let member of (members | filterList: filterString)" (click)="showProfile(member.id)">
                <td>
                    <div class="thumbAvatar"><img src="assets/avatar.png" alt=""></div>
                </td>
                <td><span>{{member.first_name}} {{member.last_name}}</span></td>
            </tr>
        </table>

        <div class="formContent">
            <button (click)="invite()" class="btn btn-primary" *ngIf="isProfileAdmin">INVITAR USUARIOS</button>
        </div>
    </div>
</div>