<app-header [currentRoute]="currentRoute"></app-header>
<div class="maxw avatarheader">
    <div class="searchico"><img src="assets/search.png" alt=""></div>
    <div class="search flex">
        <input type="search" [(ngModel)]="filterString">
    </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>
<div class="editcontent">
    <div class="bordertop"></div>
    <div (click)="profileEdit()" class="profileEdit">Editar tu Perfil
        <fa-icon [icon]="faEdit"></fa-icon>
    </div>
    <div class="maxw userlist">

        <table>
            <ng-template ngFor let-member [ngForOf]="members | filterList: filterString">
                <tr (click)="showProfile(member.id)">
                    <td>
                        <div class="thumbAvatar"><img src="assets/avatar.png" alt=""></div>
                    </td>
                    <td><span>{{member.first_name}} {{member.last_name}}</span></td>
                </tr>
            </ng-template>
        </table>

        <div class="formContent">
            <button (click)="invite()" class="btn btn-primary" *ngIf="isProfileAdmin">INVITAR USUARIOS</button>
        </div>
    </div>
</div>
