<div class="maxw avatarheader">
    <div class="goback flex hBetween">
        <a class="flex hCenter vCenter" href="javascript:history.go(-1)">
            <fa-icon [icon]="faArrowLeft" [hidden]="hidden"></fa-icon>
            <!-- <ion-icon name="arrow-round-back"></ion-icon> -->
        </a>
    </div>
    <div class="searchico"><img src="assets/search.png" alt=""></div>
    <div class="search flex">
        <input type="search" [(ngModel)]="filterString">
    </div>
    <div (click)="editProfile()">Editar Perfil </div>
</div>
<ngx-loading [show]="loading"></ngx-loading>
<div class="editcontent">
    <div class="bordertop"></div>

    <div class="maxw userlist">

        <table>
            <ng-template ngFor let-member [ngForOf]="members | filterList: filterString">
                <tr (click)="showProfile(member.id)">
                    <td>
                        <div class="thumbAvatar"><img src="assets/avatar.png" alt=""></div>
                    </td>
                    <td><span>{{member.first_name}} {{member.last_name}}</span></td>
                </tr>
            </ng-template>
        </table>

        <div class="formContent">
            <button (click)="invite()" class="btn btn-primary" *ngIf="isProfileAdmin">INVITAR USUARIOS</button>
        </div>
    </div>
</div>