<app-header [currentRoute]="currentRoute"></app-header>
<ngx-loading [show]="loading"></ngx-loading>
<div class="logo">
    <img src="assets/logo.png" alt="">
</div>
<div class="maxw formContent register">
    <p>Alguien te ha invitado a suscrbirte como miembro a Tierritas Moto Club El Salvador</p>
    <form (ngSubmit)="signUp()" #form="ngForm" autocomplete="off" action="" id="form-element">
        <label for="">Correo electrónico:</label>
        <div class="fakeFormField">{{profile.email}}</div>

        <label for="first_name">Nombres:</label>
        <input type="text" name="first_name" placeholder="Nombres" [(ngModel)]="profile.first_name" required autocomplete="new-first">

        <label for="last_name">Apellidos:</label>
        <input type="text" name="last_name" placeholder="Apellidos" [(ngModel)]="profile.last_name" required autocomplete="new-last">

        <label for="password">Contraseña:</label>
        <span class="small-message">La contraseña debe tener 8 caracteres como mínimo y estar compuesta de almenos una letra mayúscula, una minúscula y un número
        </span>
        <div class="view-pass">
            <input [type]="isPassword? 'password': 'text'" autocomplete="new-password" name="password" [(ngModel)]="profile.password" required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}" autocomplete="new-pass">
            <fa-icon [icon]="faEyeIcon" (click)="showPassword()" class="view-pass-icon"></fa-icon>
        </div>
        <label for="confirmPassword">Repetir contraseña:</label>
        <input type="password" id="confirmPassword" [ngModel]="profile.confirmPassword" name="confirmPassword" required appCompare="password" autocomplete="new-confpass">

        <div class="line"></div>

        <label for="">Fecha de nacimiento:</label>
        <ejs-datepicker id='datepicker' [cssClass]="'dateinput'" #ejDate [ngClass]="{'ng-invalid': this.profile.birthdate === undefined || this.profile.birthdate === null}" [allowEdit]="false" [format]="'dd-MM-yyyy'" (blur)="onFocusOut()" (change)="onChange($event)"
            [max]="maxDate" placeholder='Fecha en formato dd-mm-yyyy' [(value)]='profile.birthdate'></ejs-datepicker>

        <label for="bloodtype">Tipo de sangre:</label>
        <select required placeholder="Tipo de sangre" name="bloodtype" [(ngModel)]="profile.bloodtype">
            <option *ngFor="let option of bloodtype" [value]="option" >{{option}}</option>
        </select>

        <label for="dui">DUI:  Ej. 12345678-9</label>
        <input type="text" name="dui" placeholder="DUI" [(ngModel)]="profile.dui" pattern="[0-9]{8}-[0-9]{1}" required>

        <label for="phone">Teléfono: Ej. 12345678</label>
        <input type="text" name="phone" pattern="[0-9]{8}" placeholder="Teléfono" [(ngModel)]="profile.phone" required>


        <label for="">Tipo de seguro:</label>
        <select id="tseguro" name="health_insurance_type" [(ngModel)]="profile.health_insurance_type">
          <option value="">Seleccione</option>
          <option value="ISSS">ISSS</option>
          <option value="Privado">Privado</option>
        </select>
        <div id="sPoliza" *ngIf="profile.health_insurance_type === 'Privado'">
            <label for="">Aseguradora:</label>
            <input type="text" id="insurance_company" name="insurance_company" [(ngModel)]="profile.insurance_company">
            <label for="">Póliza:</label>
            <input type="text" id="insurance_policy" name="insurance_policy" [(ngModel)]="profile.insurance_policy">
        </div>

        <div class="line"></div>
        <div class="contacts">
            <div class="flex">
                <div class="flex-item-auto">
                    Contactos en caso de emergencia
                </div>
            </div>
            <div *ngFor="let contact of profile.contacts">
                <input type="text" [ngModelOptions]="{standalone: true}" placeholder="Nombre" [(ngModel)]="contact.name">
                <input type="text" [ngModelOptions]="{standalone: true}" placeholder="Teléfono" [(ngModel)]="contact.phone">
            </div>

        </div>
        <button type="submit" [disabled]="!form.valid  || !this.profile.birthdate" [ngClass]="{'invalid': !form.valid || !this.profile.birthdate}">REGISTRARSE</button>
    </form>
</div>