<app-header [currentRoute]="currentRoute"></app-header>
<ngx-loading [show]="loading"></ngx-loading>
<div class="logo">
    <img src="assets/logo.png" alt="">
</div>
<ngx-loading [show]="loading"></ngx-loading>
<div class="maxw formContent login">
    <form (ngSubmit)="sendRequest()" #form="ngForm">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Enter email" [(ngModel)]="email" required email />
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!form.valid" [ngClass]="{'invalid': !form.valid}">Enviar</button>
    </form>
</div>
