.goback a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    border: 2px solid #fff;
    font-size: 18px;
    margin-top: 18px;
    position: absolute;
    margin-left: 13px;
}