.dateInput {
    background-color: #fff;
}
.avatar .ng-fa-icon {
    color: #fff;
    font-size: 2rem;
    opacity: .6;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 9px;
    position: absolute;
}

ejs-datepicker.ng-invalid {
    border-bottom: 3px solid red;
    background-color: #ffdbd6;
}
ejs-datepicker.ng-invalid  .e-control-wrapper {
    background-color: transparent !important;
    border-bottom: none !important;
}