.dateInput {
    background-color: #fff;
}
.avatar .ng-fa-icon {
    color: #fff;
    font-size: 2rem;
    opacity: .6;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 9px;
    position: absolute;
}