<app-header [currentRoute]="currentRoute"></app-header>
<ngx-loading [show]="loading"></ngx-loading>
<div class="maxw avatarheader">
    <div class="avatar">
        <img [src]="imgSrc" alt="{{profile.first_name}}">
    </div>
    <input type="file" (change)="onFileSelected($event)" name="image">
</div>
<div class="maxw formContent register">
    <p>Alguien te ha invitado a suscrbirte como miembro a Tierritas Moto Club El Salvador</p>
    <form (ngSubmit)="editUser()" #form="ngForm" autocomplete="off">
        <label for="">Correo electrónico:</label>
        <div class="fakeFormField">{{profile?.email}}</div>

        <label for="">Nombres:</label>
        <input type="text" name="first_name" placeholder="Nombres" [(ngModel)]="profile.first_name" required>

        <label for="">Apellidos:</label>
        <input type="text" name="last_name" placeholder="Apellidos" [(ngModel)]="profile.last_name" required>

        <div class="line"></div>

        <label for="">Fecha de nacimiento:</label>
        <ejs-datepicker id='datepicker' [cssClass]="dateinput" [allowEdit]="true" [format]="'dd-MM-yyyy'" [max]="maxDate" placeholder='Selecciona una fecha' [value]='profile.birthdate'></ejs-datepicker>

        <label for="">Tipo de sangre:</label>
        <input type="text" name="bloodtype" placeholder="Tipo de sangre" [(ngModel)]="profile.bloodtype" required>

        <label for="">DUI:</label>
        <input type="text" name="dui" placeholder="DUI" [(ngModel)]="profile.dui" required>

        <label for="">Teléfono:</label>
        <input type="tel" name="phone" placeholder="Teléfono" [(ngModel)]="profile.phone" required>

        <label for="">Tipo de seguro:</label>
        <select id="tseguro" name="health_insurance_type" [(ngModel)]="profile.health_insurance_type">
          <option value="">Seleccione</option>
          <option value="ISSS">ISSS</option>
          <option value="Privado">Privado</option>
        </select>
        <div id="sPoliza" *ngIf="profile.health_insurance_type === 'Privado'">
            <label for="">Aseguradora:</label>
            <input type="text" id="insurance_company" name="insurance_company" [(ngModel)]="profile.insurance_company">
            <label for="">Póliza:</label>
            <input type="text" id="insurance_policy" name="insurance_policy" [(ngModel)]="profile.insurance_policy">
        </div>

        <div class="line"></div>
        <div class="contacts">
            <div class="flex">
                <div class="flex-item-auto">
                    Contactos en caso de emergencia
                </div>
                <div class="boxMin">
                    <div class="plus-icon" (click)="addNewContact()">
                        <fa-icon [icon]="faPlus"></fa-icon>
                    </div>
                </div>

            </div>
            <div *ngFor="let contact of profile.contacts">
                <input type="hidden" [ngModelOptions]="{standalone: true}" [(ngModel)]="contact.id">
                <input type="text" [ngModelOptions]="{standalone: true}" placeholder="Nombre" [(ngModel)]="contact.name">
                <input type="text" [ngModelOptions]="{standalone: true}" placeholder="Teléfono" [(ngModel)]="contact.phone">
            </div>
        </div>

        <button type="submit" [disabled]="!form.valid" [ngClass]="{'invalid': !form.valid}">ACTUALIZAR</button>
    </form>
</div>
